{% extends "base.html" %}

{% block title %}Registro NF{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title mb-4 text-center">Registro de Nota Fiscal</h3>
                    <form action="{{ '/registerNF/' + nf.id|string if nf else '/registerNF' }}" method="post">
                        <div class="mb-3">
                            <label for="NFId" class="form-label">Número Nota Fiscal:</label>
                            <input type="number" class="form-control" name="NFId" id="NFId" placeholder="Digite o número da NF" value="{{ nf.NFId if nf else '' }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="NFValue" class="form-label">Valor (R$):</label>
                            <input type="number" class="form-control" step="0.01" name="NFValue" id="NFValue" placeholder="Digite o valor da NF" value="{{ nf.NFValue if nf else '' }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="NFDate" class="form-label">Data da Nota Fiscal:</label>
                            <input type="date" class="form-control" name="NFDate" id="NFDate" value="{{ nf.NFDate if nf else '' }}" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success btn-block">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
